*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
.header{
    background-color: #9FC5F8;
    color: white;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;

}
.header ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 600px;

}
.main{
    width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}
.temp-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.blocs{
    display: flex;
    gap: 10px;

}
.bloc{
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    flex: 1;
    height: 350px;
}
.numbers{
    width: 200px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    margin-top: 100px;
}
.bloc img{
    border-radius: 50%;
    width: 100px;
}
.cookies{
    display:  flex;
    justify-content: space-evenly;
    background-color: #EEEEEE;
    border: solid black;
    padding: 5px;
    align-items: center;

}
#red{
    color: red;
}
#blue{
    color: #2B78E4;
}
button{
    padding: 10px 20px;
    background-color: #9FC5F8;
    font-size: 20px;
    border: solid black;
    box-shadow: 4px 4px;
}
.temp-bar #temp {
    font-size: 20px;
}