*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
}
.card{
    background-color: black;
    width: 500px;
    height: 300px;
    
}
.title{
        background-color: aqua;
        height: 80px;
        
}