body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    color: #333;
    margin: 20px 0;
}

.row {
    background-color: aqua;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.row2 {
    background-color: aqua;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.row3 { 
    background-color: aqua;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    justify-content: space-between;
    border-bottom: ;
}

.block {
   
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.block img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}



p {
    font-size: 14px;
    color: gray;
    margin-top: 20px;
}

a {
    color: #00f;
    text-decoration: none;
}

